.home-cover div a {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #f5f5f5; }

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #131e3c; }
  body p {
    text-align: justify; }

/* HEADER 
===================================================== */
header {
  height: 40px;
  background-color: #131e3c;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px; }
  header span {
    color: #f55b14;
    font-weight: bold; }
  header div ul {
    display: inline-block; }
    header div ul li {
      display: inline-block;
      list-style-type: none; }
      header div ul li a {
        text-decoration: none;
        color: #f5f5f5; }
      header div ul li a:hover {
        text-decoration: underline;
        color: #f5f5f5; }

/* NAV */
.navbar {
  background-color: #f5f5f5;
  padding: 15px 50px 15px 50px; }
  .navbar .navbar-nav {
    text-align: right; }
    .navbar .navbar-nav a {
      text-decoration: none;
      color: #131e3c;
      font-weight: bold;
      font-size: 20px; }
    .navbar .navbar-nav a:hover {
      color: #f55b14; }

/* ESTILOS MAIN Y H1 
=====================================================*/
main div {
  padding: 1rem 10rem 1rem 10rem; }
  main div h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center; }

/* HOME - COVER 
===================================================== */
.home-cover {
  height: 78vh;
  background-image: url("../img/plantaTernium.jpg");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .home-cover h1 {
    font-size: 75px;
    font-weight: bold;
    color: #f5f5f5;
    margin-bottom: 1rem;
    transition: 0.8s; }
    .home-cover h1 span {
      background-color: rgba(19, 30, 60, 0.6);
      padding: 0 20px 0 20px;
      border-radius: 2rem; }
  .home-cover h3 {
    font-size: 30px;
    color: #f5f5f5; }
  .home-cover div {
    margin-top: 3rem; }
    .home-cover div a:hover {
      background-color: initial;
      border: 1px solid #f5f5f5; }
  .home-cover .about-us-button {
    background-color: #131e3c; }
  .home-cover .contact-button {
    background-color: #f55b14; }

/* NAVTAP BOOTSTRAP - POLITIC */
.politic-sec {
  background-image: url("../img/greyBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .politic-sec ul {
    padding-bottom: 10px; }
    .politic-sec ul li a {
      background-color: #131e3c;
      font-weight: bold;
      color: #f5f5f5;
      margin: 1rem;
      padding: 1rem;
      border-radius: 1rem; }
    .politic-sec ul li a:hover {
      background-color: #f55b14;
      color: #f5f5f5;
      cursor: pointer; }
  .politic-sec section .tab-pane {
    padding: 0; }
  .politic-sec section div h4 {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline; }
  .politic-sec .our-history {
    text-decoration: none;
    color: #f55b14;
    font-weight: bold;
    font-size: 24px;
    margin: 1rem; }
  .politic-sec .our-history:hover {
    text-decoration: underline;
    color: #f55b14; }

/* SERVICES */
.services-cards {
  display: grid;
  grid-template-areas: "IA CM MI";
  justify-content: center; }
  .services-cards div {
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 1rem;
    width: 20rem;
    border: 2px solid #131e3c;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between; }
    .services-cards div img {
      width: 40%;
      margin: auto; }
    .services-cards div span {
      font-size: 20px;
      font-weight: bold;
      text-align: center; }
    .services-cards div p {
      display: none; }
    .services-cards div a {
      display: none;
      text-decoration: none;
      text-align: center;
      color: #f55b14;
      font-weight: bold; }
    .services-cards div a:hover {
      text-decoration: underline; }
  .services-cards div:hover > img {
    display: none; }
  .services-cards div:hover > a, .services-cards div:hover > p {
    display: block; }
  .services-cards .ing-card {
    grid-area: IA; }
  .services-cards .cal-card {
    grid-area: CM; }
  .services-cards .man-card {
    grid-area: MI; }

/* PAGES - COVER 
===================================================== */
.pages-cover {
  height: 25vh;
  background-image: url("../img/pagesCover.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }
  .pages-cover h1 {
    font-size: 48px;
    color: #f5f5f5;
    padding-left: 10rem;
    font-weight: bold; }

/* PAGES - ABOUT US 
===================================================== */
.about-us-sec {
  background-image: url("../img/greyBackground.png");
  background-repeat: no-repeat;
  background-size: cover; }

/* PAGES - SERVICES 
===================================================== 
OUR SERVICES */
.our-services-sec {
  background-color: #f5f5f5; }
  .our-services-sec ul {
    padding: 0; }
    .our-services-sec ul li {
      list-style-type: none;
      text-align: center;
      margin-bottom: 1rem; }
      .our-services-sec ul li span {
        font-size: 24px;
        font-weight: bold;
        text-decoration: underline; }

/* CERTIFICATIONS */
.certifications-sec {
  background-image: url("../img/greyBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  height: 200px;
  justify-content: space-evenly;
  grid-template-areas: "text pdf"; }
  .certifications-sec div {
    padding: 0;
    margin: 1rem; }
  .certifications-sec .certifications-text {
    width: 400px;
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .certifications-sec .certifications-text h1 {
      text-align: center;
      font-size: 24px; }
  .certifications-sec .certifications-pdf {
    width: 360px;
    grid-area: pdf;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .certifications-sec .certifications-pdf a {
      text-decoration: none;
      color: #f55b14;
      font-weight: bold;
      font-size: 20px; }

/* PAGES - EXPERIENCE 
=====================================================
EXP GALLERY */
.mant {
  margin-top: 2rem; }

.inst {
  margin-bottom: 1rem; }

.gallery-sec {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .gallery-sec .gallery-item figure {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); }
    .gallery-sec .gallery-item figure img {
      max-width: 100%;
      height: auto; }
    .gallery-sec .gallery-item figure .capa {
      padding: 2rem 0.3rem 0 0.3rem;
      position: absolute;
      visibility: hidden;
      background-image: linear-gradient(rgba(245, 91, 20, 0.9), rgba(245, 91, 20, 0.1));
      top: 0;
      height: 100%;
      width: 100%;
      text-align: center; }
      .gallery-sec .gallery-item figure .capa h3 {
        color: #f5f5f5;
        font-size: 24px;
        font-weight: bold; }
      .gallery-sec .gallery-item figure .capa span {
        color: #f5f5f5;
        display: inline; }
  .gallery-sec .gallery-item figure:hover > .capa {
    visibility: visible; }
  .gallery-sec .gallery-item figure:hover > img {
    transform: scale(1.5);
    transition: all 400ms ease; }

/* PAGES - CONTACT
===================================================== 
FORM */
.form-sec {
  background-image: url("../img/greyBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 1.5rem; }
  .form-sec h1 {
    padding-bottom: 1rem; }

form {
  width: 400px;
  padding: 1rem;
  margin: auto; }
  form div {
    padding: 0; }
  form input, form textarea {
    width: 100%;
    padding: 3px; }
  form textarea {
    height: 5rem; }
  form .form-data input {
    margin-bottom: 0.5rem; }
  form .form-button {
    background-color: #131e3c;
    color: #f5f5f5;
    font-weight: bold; }
  form .form-button:hover {
    background-color: #f55b14;
    cursor: pointer; }

/* INFO */
.info-sec {
  padding: 1rem 7.5rem 1rem 7.5rem;
  display: flex;
  justify-content: space-around; }
  .info-sec .info-content {
    width: 390px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; }
    .info-sec .info-content p span {
      font-weight: bold;
      font-style: italic; }

/* LOCATION */
.location-sec {
  padding: 0; }
  .location-sec img {
    max-width: 100%;
    height: auto; }

/* FOOTER 
===================================================== */
footer {
  background-color: #131e3c;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px; }
  footer span a {
    text-decoration: none;
    color: #f5f5f5; }
  footer span a:hover {
    color: #f55b14; }

/* MEDIA QUERIES 
===================================================== */
@media screen and (max-width: 1024px) {
  /* HEADER */
  header {
    height: 30px;
    justify-content: space-between;
    padding: 0 20px 0 20px; }
    header .phone-number {
      display: none; }
  /* HOME - COVER */
  .home-cover {
    height: 50vh; }
    .home-cover h1 {
      font-size: 56px; }
    .home-cover h3 {
      font-size: 25px; }
    .home-cover div {
      margin-top: 1rem; }
      .home-cover div a {
        padding: 0.8rem;
        margin: 0.5rem; }
  /* ESTILOS MAIN Y H1 */
  main div {
    padding: 1rem 4rem 1rem 4rem; }
    main div h2 {
      font-size: 32px; }
  /* HOME - SERVICES */
  .services-cards {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .services-cards div {
      width: 30rem;
      margin: 1rem; }
      .services-cards div p {
        text-align: center; }
    .services-cards div:hover {
      transform: initial; }
    .services-cards div:hover > img, .services-cards div a, .services-cards div p {
      display: initial; }
  /* PAGES - COVER */
  .pages-cover {
    height: 20vh; }
    .pages-cover h1 {
      font-size: 36px;
      padding-left: 4rem; }
  /* CERTIFICATIONS */
  .certifications-sec {
    height: 100%;
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column; }
    .certifications-sec div {
      margin: 0;
      margin: auto; }
    .certifications-sec .certifications-text h1 {
      font-size: 24px; }
    .certifications-sec .certifications-text p {
      text-align: center; }
  /*EXP GALLERY */
  .gallery-sec {
    padding: 0 3rem 0 3rem; }
    .gallery-sec .gallery-item figure .capa {
      padding: 1rem 0.3rem 0 0.3rem;
      height: 50%;
      visibility: visible;
      background-image: linear-gradient(rgba(245, 91, 20, 0.9), rgba(245, 91, 20, 0)); }
      .gallery-sec .gallery-item figure .capa h3 {
        font-size: 20px; }
  /* FORM */
  .form-sec {
    padding: 1rem 0 0 0; }
    .form-sec form {
      margin: 0;
      margin: auto; }
      .form-sec form .form-data {
        padding: 0; }
  /* CONTACT */
  .info-sec {
    flex-direction: column; }
  /* FOOTER */
  footer {
    flex-direction: column;
    align-items: center;
    padding: 0; }
    footer .span-sg {
      display: none; } }

@media screen and (max-width: 600px) {
  /* HEADER */
  header {
    height: 20px;
    justify-content: center;
    padding: 0; }
    header .follow-us {
      display: none; }
  /* NAV */
  .navbar {
    padding: 1rem 1.5rem 1rem 1.5rem; }
  /* HOME - COVER */
  .home-cover {
    height: 30vh;
    background-image: url("../img/plantaTerniumMobile.jpg"); }
    .home-cover h1 {
      font-size: 32px; }
    .home-cover h3 {
      font-size: 16px; }
    .home-cover div {
      margin-top: 1rem; }
      .home-cover div a {
        padding: 0.8rem;
        margin: 0.5rem; }
  /* ESTILOS MAIN Y H1 */
  main div {
    padding: 1rem 2rem 1rem 2rem; }
    main div h2 {
      font-size: 26px; }
  /* HOME NAVTAB BOOTSTRAP - POLITIC */
  .politic-sec ul li a {
    padding: 0.8rem;
    margin: 0.5rem; }
  .politic-sec .our-history {
    font-size: 20px;
    margin: 0.5rem; }
  /* HOME - SERVICES */
  .services-cards {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .services-cards div {
      width: 20rem;
      margin: 1rem; }
  /* PAGES - COVER */
  .pages-cover {
    height: 15vh; }
    .pages-cover h1 {
      font-size: 26px;
      padding-left: 2rem; }
  /* CERTIFICATIONS */
  .certifications-sec {
    padding: 1rem 0 1rem 0; }
    .certifications-sec .certifications-text {
      width: 300px; }
    .certifications-sec .certifications-pdf {
      width: 300px; }
      .certifications-sec .certifications-pdf a {
        font-size: 16px; }
  /* PAGES - EXP CARDS */
  .gallery-sec {
    padding: 0 4rem 0 4rem; }
    .gallery-sec .gallery-item figure .capa {
      height: 70%; }
  /* FORM */
  form {
    width: 300px; }
  /* CONTACT */
  .info-sec {
    padding: 1rem 0 1rem 0; }
    .info-sec .info-content {
      padding: 0;
      width: 350px; }
      .info-sec .info-content span {
        display: none; }
  /* LOCATION */
  .location-sec {
    overflow: hidden; }
    .location-sec img {
      transform: scale(2); } }
