/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    color: #131e3c;
    font-family: 'Poppins', sans-serif;
}
p{
    text-align: justify;
}

/* estilo del header */
header{
    height: 40px;
    background-color: #131e3c;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
}
header div ul{ 
    display: inline-block;
}
header div ul li{
    display: inline-block;
    list-style-type: none;
}
header div ul li a{
    text-decoration: none;
    color: whitesmoke;
}
header span{
    color: #f55b14;
    font-weight: bold;
}
header div ul li a:hover{
    text-decoration: underline;
    color: whitesmoke;
}

/* estilos del nav */
nav{
    background-color: whitesmoke;
}
.navbar{
    padding: 15px 50px 15px 50px;
}
.navbar-nav{
    text-align: right;
}
.navbar-nav a{
    text-decoration: none;
    color: #131e3c;
    font-weight: bold;
    font-size: 1.2rem;
}
.navbar-nav a:hover{
    color: #f55b14;
}
.logoSG{
    width: 80%;
}

/* contenedor principal */
.homeMainContent{
    height: 600px;
    background-image: url('../img/plantaTernium.jpg');
    background-repeat: no-repeat;
    text-align: center;
    display: grid;
    align-content: center;
}
.homeMainContent h1{
    color: whitesmoke;
    font-size: 5rem;
}
.homeMainContent h1 span{
    background-color: rgba( 19, 30, 60, 0.6);
    padding: 0 20px 00 20px;
    border-radius: 2rem;
}
.homeMainContent h2{
    color: whitesmoke;
    font-size: 1.8rem;
}
.homeMainContent div{
    margin-top: 3rem;
}
.homeMainContent div a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
.aboutUsButton{
    background-color: #f55b14;
}
.contactButton{
    background-color: #131e3c;
}
.homeMainContent div a:hover{
    border: 1px solid whitesmoke;
    background-color: initial;
}

/* POLITIC SECTION */
.politic-sec{
    padding: 1rem 10rem 1rem 10rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.politic-sec h1{
    font-size: 2.5rem;
    font-weight: bold;
}
.politic-sec h3{
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: underline;
}
.politic-sec ul{
    padding-bottom: 10px;
}
.politic-sec ul li a{
    background-color: #131e3c;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    color: whitesmoke;
    font-weight: bold;
}
.politic-sec ul li a:hover{
    background-color: #f55b14;
    color: whitesmoke;
    cursor: pointer;
}
.our-history{
    text-decoration: none;
    color: #f55b14;
    font-weight: bold;
    font-size: 1.6rem;
    margin: 1rem;
}
.our-history:hover{
    text-decoration: underline;
    color: #f55b14;
}

/* contenedor servicios home */
.services-sec h1{
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.homeOurService{
    padding: 0rem 10rem 1rem 10rem;
}
.homeOurService{
    display: grid;
    grid-template-areas: "IA CM MI";
    justify-content: space-around;
}
.homeOurService div{
    margin-bottom: 1rem;
    padding: 1rem;
    width: 20rem;
    border: 2px solid #131e3c;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.homeOurService div:hover{
    transform: scale(1.05);
}
.homeOurService div img{
    width: 50%;
    margin: auto;
}
.homeOurService div:hover > img{
    display: none;
}
.homeOurService div p{
    display: none;
}
.homeOurService div a{
    display: none;
}
.homeOurService div:hover > p{
    display: block;
}
.homeOurService div:hover > a{
    display: block;
}
.homeOurService div span{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.homeOurService div a{
    text-decoration: none;
    text-align: center;
    color: #f55b14;
    font-weight: bold;
}
.homeOurService div a:hover{
    text-decoration: underline;
}


.sIngAut{
    grid-area: IA;
}
.sCalMed{
    grid-area: CM;
}
.sManInt{
    grid-area: MI;
}

/* contenedor principal pages */
.pagesMainContent{
    height: 250px;
    background-image: url('../img/plantaAcindar.jpg');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.pagesMainContent h1{
    color: whitesmoke;
    font-size: 3.5rem;
    padding-left: 10rem;
    font-weight: bold;
}

/* contenedor quienes somos */
.contAboutUs{
    background-color: whitesmoke;
    padding: 1rem 10rem 1rem 10rem;
}
.contAboutUs h1{
    font-size: 1.6rem;
}

/* contenedor historia */
.contOurHistory{
    padding: 1rem 10rem 1rem 10rem;
}

/* contenedor servicios */
.contOurServices{
    padding: 1rem 10rem 1rem 10rem;
    background-color: whitesmoke;
}
.contOurServices ul li{
    list-style-type: none;
    text-align: center;
    margin-bottom: 1rem;
}
.contOurServices ul li span{
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: underline;
}

/* contenedor certificaciones */
.contCertifications{
    padding: 1rem 10rem 1rem 10rem;
    display: grid;
    height: 200px;
    justify-content: space-evenly;
    grid-template-areas: "text pdf"
}
.certificationsText{
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.certificationsText h1{
    text-align: center;
    font-size: 1.6rem;
}
.certificationsPdf{
    grid-area: pdf;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.certificationsPdf a{
    text-decoration: none;
    color: #f55b14;
    font-weight: bold;
    font-size: 1.4rem;
}

/* contenedor exp */
.expCards{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

/* formulario */
.contForm{
    background-color: whitesmoke;
    text-align: center;
    padding: 1.5rem;
}
.contForm h1{
    padding-bottom: 1rem;
    font-size: 1.6rem;
}
form{
    background-color: white;
    width: 400px;
    padding: 1.2rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: auto;    
}
form input, textarea{
    width: 100%;
    padding: 3px;
}
form textarea{
    height: 5rem;
}
.formDatos input{
    margin-bottom: 0.5rem;
}
.formButton{
    background-color: #131e3c;
    color: whitesmoke;
    font-weight: bold;
}
.formButton:hover{
    background-color: #f55b14;
    cursor: pointer;
}

/* contenedor info */
.contInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.contInfo h1{
    font-size: 1.6rem;
}
.contInfo h2{
    font-size: 1.4rem;
    text-decoration: underline;
}
.contInfo p span{
    font-weight: bold;
    font-style: italic;
}

/* contenedor mapa */
.contPoloUbi img{
    max-width: 100%;
    height: auto;
}

/* estilos del footer */
footer{
    background-color: #131e3c;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
footer span a{
    text-decoration: none;
    color: whitesmoke;
}
footer span a:hover{
    color: #f55b14;
}

/* mq */
@media screen and (max-width:600px){
    /* header */
    header{
        height: 1.5rem;
        justify-content: center;
        padding: 0;
    }
    .headerFollowUs{
        display: none;
    }
    .headerNumber{
        display: none;
    }
    /* nav */
    .navbar{
        padding: 15px 20px 15px 20px;
    }
    /* contenedor principal */
    .homeMainContent{
        height: 400px;
    }
    .homeMainContent h1{
        font-size: 2.6rem;
    }
    .homeMainContent h2{
        font-size: 1.2rem;
    }
    .homeMainContent div{
        margin-top: 2rem;
    }
    /* nuestra politica */
    .homeAboutUs{
        padding: 1rem 2rem 1rem 2rem;
    }
    .homeAboutUs h1{
        font-size: 2rem;
    }
    /* nuestros servicios */
    .divOurServices h1{
        padding-top: 1rem;
        font-size: 2rem;
    }
    .homeOurService{
        padding: 0rem 2rem 0rem 2rem;
    }
    .homeOurService{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homeOurService div{
        margin: 1rem;
    }
    .homeOurService div:hover{
        transform: none;
        height: 13.16rem;
    }
    /* footer */
    footer{
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .spanFooterSG{
        display: none;
    }
    /* portada paginas */
    .pagesMainContent{
        height: 150px;
        align-items: center;
    }
    .pagesMainContent h1{
        font-size: 2.6rem;
        padding-left: 2rem;
    }
    /* quienes somos */
    .contAboutUs{
        padding: 1rem 2rem 1rem 2rem;
    }
    .contAboutUs h1{
        font-size: 1.5rem;
        text-align: center;
    }
    /* contenedor historia */
    .contOurHistory{
        padding: 1rem 2rem 1rem 2rem;
    }
    .contOurHistory h1{
        font-size: 1.5rem;
        text-align: center;
    }
    /* contenedor servicios */
    .contOurServices{
        padding: 1rem 2rem 1rem 2rem;
    }
    .contOurServices ul li span{
        font-size: 1.5rem;
    }
    /* contenedor certificaciones */
    .contCertifications{
        padding: 1rem 2rem 1rem 2rem;
        display: flex;
        flex-direction: column;
    }
    .certificationsText h1{
        font-size: 1.5rem;
    }
    .certificationsText p{
        text-align: center;
    }
    .certificationsPdf a{
        font-size: 1rem;
    }
    /* formulario */
    .contForm{
        padding: 1rem 2rem 1rem 2rem;
    }
    .contForm h1{
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }
    /* info contacto */
    .contInfo{
        padding: 1rem 2rem 1rem 2rem;
    }
    .contInfo h1{
        font-size: 1.5rem;
        text-align: center;
    }
    .contInfo h2{
        font-size: 1.2rem;
    }
}


























